<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>99211363046-40umaosa6r7n53merv6h66ebb3cjovei.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.99211363046-40umaosa6r7n53merv6h66ebb3cjovei</string>
	<key>API_KEY</key>
	<string>AIzaSyBwQvGbDQcvErtbZbRB-pUsSAxHtoap4Jk</string>
	<key>GCM_SENDER_ID</key>
	<string>99211363046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>JaphetT.DWBingo</string>
	<key>PROJECT_ID</key>
	<string>dwbingo-c3ffd</string>
	<key>STORAGE_BUCKET</key>
	<string>dwbingo-c3ffd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99211363046:ios:75742a6a4b958d7c4d7127</string>
</dict>
</plist>